<div class="card" *ngIf="showChartDaily">
    <p-table [value]="customers" [scrollable]="true" scrollHeight="400px" [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="header">
            <tr>
                <th>Date</th>
                <th>Rep</th>
                <th>Weight</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
            <tr>
                <td>{{customer.Date}}</td>
                <td>{{customer.Reps}}</td>
                <td>{{customer.Weight}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<app-view-stats-weekly *ngIf="showChartWeekly"></app-view-stats-weekly>
<app-view-stats-monthly *ngIf="showChartMonthly"></app-view-stats-monthly>
<app-view-stats-all-time *ngIf="showChartAllTime"></app-view-stats-all-time>
