<div class="container mt-5">
  <div class="card shadow-lg p-4 rounded">
    <h2 class="mb-4 text-center">Add Exercise</h2>
    <form (ngSubmit)="addExercise()" #exerciseForm="ngForm" class="text-center">
      <div class="form-group mb-3 labelAndInput">
        <label for="exerciseName" class="form-label">Exercise Name</label>
        <input 
          type="text" 
          id="exerciseName" 
          name="exerciseName" 
          class="form-control" 
          [(ngModel)]="exerciseName" 
          required
        >
      </div>
      <button 
        type="submit" 
        class="btn btn-primary w-100 submitButton"
        [disabled]="!exerciseForm.form.valid"
      >
        Add Exercise
      </button>
    </form>
  </div>
</div>
