#exerciseForm {
    width: 14rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    }
#updateForm {
    display: flex;
    justify-content: center;
}