#updateForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    margin-top: 4rem;
  }
  
  .updateHeader {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 25px;
    margin-bottom: 1rem;
  }
  
  #updateForm .ui.container {
    width: 100%;
    max-width: 400px;
  }
  
  label {
    color: white !important;
  }
  
  .ui.form {
    width: 100%;
  }
  
  .ui.form .field {
    margin-bottom: 1rem;
  }
  
  .ui.form .ui.dropdown {
    width: 100%;
  }
  
  .ui.button {
    margin-top: 1rem;
  }
  
  .terms {
    color: white !important;
    font-size: 10px !important;
  }
  
  /* Disable number input spinners for all browsers */
  .no-spinners::-webkit-outer-spin-button,
  .no-spinners::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  .no-spinners {
    -moz-appearance: textfield;
    appearance: textfield;
  }
  
  @media only screen and (max-width: 767px) {
    #updateForm .ui.container {
      padding: 1rem;
    }
  }
  