<div class="container">
    <div>
      <h1 class="title">Sign In</h1>
    </div>
    <form [formGroup]="authForm" class="input">
        <div class="ui input error">
            <input class="inputBox" formControlName="userUsername" ngDefaultControl type="text" placeholder="Username">
            <span *ngIf="UserUsername?.touched && UserUsername?.errors" class="error-message">
                Username is required.
              </span>
              <span *ngIf="UserUsername?.errors?.['minlength']" class="error-message">Please enter between 3 and 20 characters.</span>
              <span *ngIf="UserUsername?.errors?.['pattern']">Please only use characters 0-9 and letters A-Z.</span>
        </div>
      <!-- Display error message if 'userUsername' is invalid and touched -->
      
      <div class="ui input error">
        <input class="inputBox" type="password" placeholder="Password" formControlName="userPassword" ngDefaultControl>
        <span *ngIf="UserPassword?.touched && UserUsername?.errors" class="error-message">
            Username is required.
          </span>
          <span *ngIf="UserPassword?.errors?.['minlength']" class="error-message">Please enter between 3 and 20 characters.</span>
          <span *ngIf="UserPassword?.errors?.['pattern']">Please only use characters 0-9 and letters A-Z.</span>
      </div>
      <!-- Display error message if 'userPassword' is invalid and touched -->
      <div class="submitButton">
        <button class="SubmitBTN" (submit)="!authForm.errors" class="positive ui button" [disabled]="authForm.invalid">Submit</button>
        <a routerLink="/sign-up">Sign Up.</a>
      </div>
    </form>
  </div>
  