<div class="ui middle aligned center aligned grid signInForm">
    <div class="column">
      <h2 class="ui image header">
        <img src="assets/favicon.png" class="image">
        <div class="content">
          Log-in to Your Account
        </div>
      </h2>
      <form [formGroup]="authForm" class="ui large form" (ngSubmit)="onLogin()">
        <div class="ui stacked segment">
          <div class="field" [class.error]="authForm.get('userUsername')?.invalid && authForm.get('userUsername')?.touched">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input 
                type="text" 
                name="userUsername" 
                formControlName="userUsername" 
                placeholder="Username"
              >
            </div>
            <div class="ui label validation-message" *ngIf="authForm.get('userUsername')?.invalid && authForm.get('userUsername')?.touched">
              Username is required.
            </div>
            <div class="ui label validation-message" *ngIf="authForm.get('userUsername')?.hasError('minlength')">
              Please enter between 3 and 20 characters.
            </div>
            <div class="ui label validation-message" *ngIf="authForm.get('userUsername')?.hasError('pattern')">
              Please only use characters 0-9 and letters A-Z.
            </div>
          </div>
  
          <div class="field" [class.error]="authForm.get('userPassword')?.invalid && authForm.get('userPassword')?.touched">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input 
                type="password" 
                name="userPassword" 
                formControlName="userPassword" 
                placeholder="Password"
              >
            </div>
            <div class="ui label validation-message" *ngIf="authForm.get('userPassword')?.invalid && authForm.get('userPassword')?.touched">
              Password is required.
            </div>
            <div class="ui label validation-message" *ngIf="authForm.get('userPassword')?.hasError('minlength')">
              Please enter between 3 and 20 characters.
            </div>
            <div class="ui label validation-message" *ngIf="authForm.get('userPassword')?.hasError('pattern')">
              Please only use characters 0-9 and letters A-Z.
            </div>
          </div>
  
          <button type="submit" class="ui fluid large teal button" [disabled]="authForm.invalid">Login</button>
        </div>
  
        <div class="ui message">
          New to us? <a routerLink="/sign-up">Sign Up</a>
        </div>
  
        <div *ngIf="loginResponse$ | async as response">
          <!-- Handle the response here, e.g., display a success message or navigate to a new page -->
          <div>{{ response }}</div>
          <app-update-exercise></app-update-exercise>
        </div>
      </form>
    </div>
  </div>
  