@use 'src/styles.scss' as m;

.title {
    font-family: m.$title;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

a {
    padding-left: 9rem;
    color: antiquewhite;
}

a:hover {
    color: white;
}

.centered-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

/* Additional styling for the container and title, if needed */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-family: m.$title;
    padding-bottom: 1rem;
}

.validationNotifications {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.field {
    width: 18.5rem;
}
