<div class="container">
    <h2 class="mb-4">Delete Exercise</h2>
    <form (ngSubmit)="confirmDeletion()" #deleteForm="ngForm">
        <div class="form-group">
            <label for="exerciseToDelete" class="form-label">Select Exercise to Delete:</label>
            <select id="exerciseToDelete" name="exerciseToDelete" class="form-select" [(ngModel)]="exerciseNameToDelete">
                <option *ngFor="let exercise of exercises" [value]="exercise">{{ exercise }}</option>
            </select>
        </div>
        <button type="submit" class="btn btn-danger">Delete Exercise</button>
    </form>
</div>
