body {
    background-color: rgb(31, 49, 69);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
  }

  .custom-button {
    background-color: #3a3d3d;
    color: white; /* Ensure the text is visible */
  }
  
  .container {
    max-width: 75rem; /* 1200px in rem (16px base font size) */
    margin: auto;
    padding: 1rem;
  }
  
  .card {
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    padding: 2rem;
    height: 54rem; /* Set the height to 54rem */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ensure card takes full width */
  }
  
  h2 {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
  }
  
  .form-label {
    font-size: 1.1rem;
    font-weight: 500;
    color: #ccc;
  }
  
  .form-control {
    border-radius: 0.5rem;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #ced4da;
    color: #fff;
    box-shadow: none;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  
    &:focus {
      border-color: #80bdff;
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  
    &:hover {
      background-color: #0056b3;
      border-color: #004085;
    }
  
    &:disabled {
      background-color: #6c757d;
      border-color: #6c757d;
    }
  }
  
  .text-center {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }
  
  .submitButton {
    margin-top: 1rem;
  }
  
  .labelAndInput {
    display: flex;
    flex-direction: column;
  }
  
  @media (min-width: 36rem) {
    .container {
      width: 100%;
      max-width: 75rem; /* Ensure it takes most of the screen width */
    }
  }
  
  /* Additional CSS for RemoveExerciseComponent */
  #deleteExerciseForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    margin-top: 4rem;
  }
  
  .updateHeader {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 25px;
    margin-bottom: 1rem;
  }
  
  #deleteExerciseForm .ui.container {
    width: 100%;
    max-width: 400px;
  }
  
  label {
    color: white !important;
  }
  
  .ui.form {
    width: 100%;
  }
  
  .ui.form .field {
    margin-bottom: 1rem;
  }
  
  .ui.form .ui.dropdown {
    width: 100%;
  }
  
  .ui.button {
    margin-top: 1rem;
  }
  
  .terms {
    color: white !important;
    font-size: 10px !important;
  }
  